<% provide(:title, 'issue作成') %>
<div class="return">
  <%= link_to @return_url do %>
    <i class="fab fa-youtube fa-4x fa-flip-horizontal"></i>
  <% end %>
</div>
<h1>issue作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @issue do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "issue名" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :about, "説明" %>
      <%= f.text_field :about, class: 'form-control' %>

      <%= f.label :point, "ポイント(決定している場合)" %>
      <%= f.select :point, [["1", "1"],
                            ["2", "2"],
                            ["3", "3"],
                            ["5", "5"],
                            ["8", "8"],
                            ["13", "13"],
                            ["21", "21"],
                            ["40", "40"],
                            ["x", "x"]], class: 'form-control point_form', :include_blank => true %>
      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>
    <p>※注意 既に登録されているものと全く同じ名前のissueは登録されないぞ</p>
  </div>
</div>
