<% provide(:title, 'Issue | ' + @room.name) %>
<div class="row">
  <div class="return">
    <%= link_to @room do %>
      <i class="fab fa-youtube fa-4x fa-flip-horizontal"></i>
    <% end %>
  </div>
  <div class="room_issue_top">
    <h1>Issue | <%= @room.name %></h1>
  </div>
  <div class="issues">
    <% if @issues.any? %>
      <% @issues.each do |issue| %>
        <div id="issue_<%= issue.id %>">
          <%= render partial: 'room_issues/issue', locals: { room: @room, issue: issue } %>
        </div>
      <% end %>
    <% else %>
      <div class="issue">
        <p class="issue_none">まだissueが作られてないみたいだな。<br>
        <%= link_to "issue作成ページ", new_issue_path %> から作成してくれ。</p>
      </div>
    <% end %>
  </div>
</div>
<div class="paginate issues_paginate">
  <%= paginate @issues %>
</div>
